/* ABOUT PAGE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.about-content {
  margin-top: 50px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  font-family: Raleway;
}

.about-content p{
  font-weight: 500;
  font-family: Raleway;
}

.about-content a:link,
.about-content a:visited {
  text-decoration: none;
  color: #02cf5d;
}

.about-content a:hover {
  color: #000000;
  text-decoration: none;
  filter: brightness(0%);
}

.about-links {
  width: 100%;
  margin-top: 40px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.about-links a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 38px;
  color: #02cf5d;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: white;
  border: 2px solid #02cf5d;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.4s;
  display: flex;
}

.about-links a:hover {
  color: white;
  background-color: #02cf5d;
  border: 2px solid #02cf5d;
}

.about-cv {
  margin-left: 10px;
}
.about-linkedin {
  margin-left: 10px;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .about-image {
    max-width: 170px;
    margin-right: 40%;
  }
  .about-title {
    padding-top: 15%;
  }

  .about-certifications {
    margin-right: 0;
    margin-top: 5%;
  }
  .about-cv {
    margin-left: 0;
    margin-top: 5%;
  }
  .about-linkedin {
    margin-left: 0;
    margin-top: 5%;
  }
  .about-links {
    width: 100%;
    padding: 2%;
    margin-top: 40px;
    margin-left: 12%;
    font-weight: 800;
    display: block;
    justify-content: center;
  }
}
