/* ARTICLES PAGE */

/* Articles List */

.articles {
  width: 100%;
  font-family: circular-std-medium, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.articles .left {
  width: 369px;
}

.articles .left .articles-intro {
  font-family: circular-std-book;
  margin-top: 0px;
  margin-bottom: 78px;
  font-size: 18px;
  line-height: 28px;
}

.articles .left .articles-intro .bold {
  font-family: circular-std-medium, Arial, sans-serif;
}

.articles .right {
  width: 369px;
}

/* Individual Article */

.article a {
  text-decoration: none;
  color: inherit;
}

.article a:visited {
  color: black;
}

.article-default,
.article-last {
  width: 100%;
  height: 369px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 20px rgba(217, 217, 217, 0.2);
}

.article-default {
  margin-bottom: 52px;
}

.article-last {
  margin-bottom: 0px;
}

.article-image {
  width: 367px;
  height: 223px;
  overflow: hidden;
}

.article-image-size {
  width: 367px;
  height: 223px;
  transition: transform 0.4s;
}

.article-contents {
  padding: 19px 25px 19px 25px;
}

.article-title {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}

.article-subtitle {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.article-date {
  color: #a0a0a0;
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 12px;
  line-height: 28px;
}

.one-line {
  margin-top: 32px;
}

.two-line {
  margin-top: 10px;
}
