/* Footer */

.footer {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: system-ui;
  font-size: 14px;
  color: #b1b1b1;
  line-height: 35px;
  width: 100%;
}


/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .footer {
    margin-bottom: 10%;
  }
}

.footer .footer-statement {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0px auto 11px auto;
  width: 100%;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 0px;
}

.footer .social-links .social .linkedin {
  width: 16px;
  height: 14px;
  padding: 8px 8px 10px 8px;
}

.footer .social-links .social .email {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social .github {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social-last .blog {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}
