/* Header Styles */

.header {
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
  margin-bottom: 26px;
}

.navigation a {
  color: rgb(150, 150, 150);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  transition: color 0.2s;
}

.navigation a:hover  {
  color: white;
}