/* MAIN PAGE */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Main Card */

.first-container{
  padding-top: 8% 
}

.second-container{
  padding-top: 1%;
}

h1 {
  color: white;
  font-family: Raleway;
  font-weight: 400;
}

.description {
  font-family: system-ui;
  font-size: 18px;
  text-align: center;
  color: whitesmoke;
}

.profile {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.worked{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}