/* MAIN PAGE */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Main Card */

.container {
  text-align: center;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #323235;
  font-weight: bold;
}

.desc {
  font-size: 18px;
  text-align: center;
}

.profile {
  border-radius: 45%;
  width: 234px;
  height: 230px;
}
