/* ABOUT PAGE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.about-content {
  font-size: 18px;
  line-height: 30px;
  text-align:left;
}

.text-about {
  margin-top: 0px;
}

.about-content p {
  font-weight: 500;
  font-family: Raleway;
}

.about-content a:link,
.about-content a:visited {
  text-decoration: none;
  color: #02cf5d;
}

.about-content a:hover {
  color: #000000;
  text-decoration: none;
  filter: brightness(0%);
}