.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.client {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Mobile view */
@media (max-width: 850px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }
}
