body {
  font-family: "Raleway", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.client {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.client:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.client-title, .client-subtitle, .client-date, .client-skills, .client-description {
  margin-bottom: 10px;
}

.client-title {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.client-subtitle {
  color: #555;
  font-size: 18px;
}

.client-date, .client-skills {
  color: #999;
  font-size: 16px;
}

.client-description {
  color: #777;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
