/* clients List */

.clients {
  width: 100%;
  justify-content: space-between;
}

.clients-intro {
  font-weight: 500;
  font-size: 18px;
}

.linkedin-reference {
  background-color: lightblue;
}

/* Individual client */

.client a {
  text-decoration: none;
  color: inherit;
}

.client a:visited {
  color: black;
}

.client-default,
.client-last {
  width: 100%;
  background-color: rgb(250, 250, 230);
}

.client-default {
  margin-bottom: 25px;
}

.client-contents {
  padding: 19px 25px 19px 25px;
}

.client-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}

.client-subtitle {
  font-size: 16px;
  line-height: 22px;
}

.client-date {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 28px;
}
