body {
  background-color:#fbfbfb;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.profile-info {
  display: flex;
  align-items: center;
  grid-area: profile;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 40px;
}

.profile-text {
  flex: 1;
}

.profile-text h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.profile-text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.contact-mail {
  font-size: 16px;
  color: green;
  margin-top: 10px;
}

/* Mobile view */
@media (max-width: 768px) {
  .profile-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .profile-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
