body {
  background-color:#fbfbfb;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.profile-info {
  display: flex;
  align-items: center;
  grid-area: profile;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 40px;
}

.profile-text {
  flex: 1;
}

.profile-text h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.profile-text p {
  font-size: 16px;
  color: #555;
}

.contact-mail {
  font-size: 16px;
  color: green;
}

.text-main-section {
  padding: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.text-main-section p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .text-main-section {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .text-main-section p {
    font-size: 14px;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .container{
    width: 100%;
    padding: 0px;
  }

  .profile-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .profile-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
