body {
  background-color: #fbfbfb;
}

.container {
  margin: 0 auto;
}

.profile-column {
  margin-right: 25px;
  margin-top: 10px;
}

.profile-info {
  display: flex;
  align-items: flex-start;
}

.profile-img {
  border-radius: 5%;
  width: 300px;
  margin-right: 40px;
}

.profile-text {
  width: max-content;
}

.profile-text h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.profile-text p {
  font-size: 16px;
  color: #555;
}

.contact-mail {
  font-size: 16px;
  color: green;
}

.text-main-section p {
  line-height: 1.5;
}

.about-links {
  display: flex;
  justify-content: center;
}

.about-links a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 38px;
  color: #02cf5d;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: white;
  border: 2px solid #02cf5d;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.4s;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.about-links a:hover {
  color: white;
  background-color: #02cf5d;
  border: 2px solid #02cf5d;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0px;
  }

  .text-main-section {
    padding: 0.5rem;
  }

  .text-main-section p {
    font-size: 14px;
  }

  .profile-info {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .profile-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 675px) {
  .profile-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}
