.projects-intro {
  font-weight: 600;
  font-size: 18px;
}

.github-reference:hover {
  text-decoration: underline !important;
}

.highlight_1 {
  background-color: rgb(255, 250, 180);
}

.highlight_2 {
  background-color: rgb(219, 255, 166);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
  font-family: Raleway, sans-serif;
}

.project {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.25, 1);
  padding: 20px;
  background-color: #fff;
}

.project:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project-title,
.project-name,
.project-skills {
  font-size: 16px;
  line-height: 1.75;
}

.project-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-name,
.project-skills {
  color: #666;
}
