/* Project List */

.projects-intro {
  font-weight: 600;
  font-size: 18px;
}

.github-reference {
  background-color: lightgray;
  text-decoration: none;
}

.github-reference:hover {
  text-decoration: underline;
}

.highlight_1 {
  background-color: rgb(255, 250, 180);
}

.highlight_2 {
  background-color: rgb(219, 255, 166);
}

.projects {
  padding-top: 20px;
  width: 100%;
  font-family: Raleway, sans-serif;
}

.project {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.1s cubic-bezier(0.25, 1, 0.25, 1);
  margin-bottom: 25px;
  padding: 19px 25px 19px 25px;
}

.project:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.project-title,
.project-name,
.project-tools {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}

.project-title {
  font-weight: bold;
  color: #333;
}

.project-name,
.project-tools {
  color: #666;
}
