/* Import AOS */

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

/* Global Styles */

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

.body {
  width: calc(80%);
  font-family: Raleway, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.element-animation {
  animation: animationFrames ease 0.5s;
  animation-iteration-count: 1;
  transform-origin: 5% 5%;
  animation-fill-mode: forwards; /*when the spec is finished*/
}

@media (max-width: 800px) {
  .body {
    width: calc(80%);
  }
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
