/* Import AOS */

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

/* Global Styles */

.body {
  width: 784px;
  margin-left: auto;
  margin-right: auto;
}

.special-li {
  float: right;
}
ul {
  list-style-type: none !important;
}
.link-reference {
  text-decoration: none;
  color: black;
  background: yellow;
}
/* Header Styles */

.header {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 76px;
  font-family: circular-std-medium, Arial, sans-serif;
}

.header .navigation {
  width: 100%;
  display: flex;
}

.header .navigation div a {
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.2s;
}

.header .navigation div a:hover {
  color: black !important;
}

.header .navigation .active {
  color: black !important;
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .overlay .sub-menus {
  height: 180px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
}

.header .overlay .sub-menus,
.work-mobile,
.main-mobile,
.header .overlay .articles-mobile,
.header .overlay .about-mobile {
  width: 100%;
  font-size: 24px;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.hide {
  visibility: hidden !important;
}

.header .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header .navigation .simon {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
}

.header .navigation .navigation-sub .main,
.work,
.articles,
.about {
  padding-right: 40px;
}

.header .designer {
  font-size: 26px;
  line-height: 36px;
}

.header .speciality {
  font-size: 20px;
  color: #02cf5d;
  line-height: 36px;
}

/* Project Header Styles */

.header-project {
  width: 784px;
  height: 4 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 115px;
  font-family: circular-std-medium, Arial, sans-serif;
  z-index: 10;
}

.header-project .navigation {
  width: 100%;
  display: flex;
}

.header-project .navigation .navigation-sub div a,
.header-project .navigation .simon a {
  text-decoration: none;
  transition: color 0.2s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.header-project .navigation .navigation-sub div a:hover,
.header-project .navigation .simon a:hover {
  color: white !important;
}

.header-project .navigation .navigation-sub div a:visited,
.header-project .navigation .simon a:visited {
  color: inherit;
}

.header-project .overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-project .overlay .sub-menus {
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-project .overlay .sub-menus .work-mobile,
.header-project .overlay .sub-menus .articles-mobile,
.header-project .overlay .sub-menus .about-mobile {
  width: 100%;
  font-size: 24px;
}

.header-project .overlay .sub-menus div a {
  color: #bbbbbb !important;
  text-decoration: none;
}

.header-project .overlay .sub-menus div a:hover {
  color: black !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.hide {
  visibility: hidden !important;
}

.header-project .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header-project .navigation .simon {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
  color: white;
}

.header-project .navigation .navigation-sub .work,
.header-project .navigation .navigation-sub .articles {
  padding-right: 40px;
}

/* Main Card */

.container {
  text-align: center;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.title-2 {
  font-family: roboto;
  weight: 400;
}
.job-title {
  font-size: 20px;
  weight: 200;
  font-family: roboto;
}

.desc {
  font-size: 15px;
  margin-left: 65px;
  margin-right: 65px;
  color: #323235;
  text-align: center;
}

.btn {
  background: #2d354a;
  border: none;
  height: 40px;
  color: #ffffff;
  width: 35%;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  border: solid 1px #4e5b7e;
  height: 40px;
  font-family: Roboto;
  color: rgb(0, 0, 0);
  background: #ffffff;
  width: 35%;
  border-color: linear-gradient(to top right, #8162ce, #f54ba5);
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.img {
  width: 280px;
}

.profile {
  border-radius: 100%;
  width: 132px;
  height: 128px;
}

.element-animation {
  animation: animationFrames ease 2s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

/* Footer */
.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .footer-statement {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0px auto 11px auto;
  width: 100%;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 0px;
}

.footer .social-links .social .linkedin {
  width: 16px;
  height: 14px;
  padding: 8px 8px 10px 8px;
}

.footer .social-links .social .email {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social-last .blog {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 14px;
  color: #b1b1b1;
  line-height: 36px;
  margin: 20px auto 0px auto;
  width: 100%;
}

/* Project Header Styles */

.header-project {
  width: 784px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 115px;
  font-family: circular-std-medium, Arial, sans-serif;
  z-index: 10;
}

.header-project .navigation {
  width: 100%;
  display: flex;
}

.header-project .navigation .navigation-sub div a,
.header-project .navigation .moi a {
  text-decoration: none;
  transition: color 0.2s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.header-project .navigation .navigation-sub div a:hover,
.header-project .navigation .moi a:hover {
  color: white !important;
}

.header-project .navigation .navigation-sub div a:visited,
.header-project .navigation .moi a:visited {
  color: inherit;
}

.header-project .overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-project .overlay .sub-menus {
  height: 180px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-project .overlay .sub-menus .work-mobile,
.header-project .overlay .sub-menus .articles-mobile,
.header-project .overlay .sub-menus .about-mobile {
  width: 100%;
  font-size: 24px;
}

.header-project .overlay .sub-menus div a {
  color: #bbbbbb !important;
  text-decoration: none;
}

.header-project .overlay .sub-menus div a:hover {
  color: black !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.hide {
  visibility: hidden !important;
}

.header-project .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header-project .navigation .moi {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
  color: white;
}

.header-project .navigation .navigation-sub .work,
.main .header-project .navigation .navigation-sub .articles {
  padding-right: 40px;
}

/* Footer */
.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .footer-statement {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0px auto 11px auto;
  width: 100%;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 0px;
}

.footer .social-links .social .github {
  width: 19px;
  height: 12px;
  padding: 10px 6.5px 10px 6.5px;
}

.footer .social-links .social .linkedin {
  width: 16px;
  height: 14px;
  padding: 8px 8px 10px 8px;
}

.footer .social-links .social .github {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social-last .email {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

/* MAIN PAGE */

/* Project List */

.projects {
  width: 100%;
  font-family: circular-std-medium, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.projects .left {
  width: 369px;
}

.projects .left .projects-intro {
  font-family: circular-std-book;
  margin-top: 0px;
  margin-bottom: 58px;
  font-size: 18px;
  line-height: 28px;
}

.projects .left .projects-intro .bold {
  font-weight: bold;
  font-family: circular-std-medium, Arial, sans-serif;
}

.projects .right {
  width: 369px;
}

/* Individual Project */
.project a {
  text-decoration: none;
  color: inherit;
}

.project a:visited {
  color: black;
}

.project-default {
  width: 100%;
  margin-bottom: 52px;
}

.project-last {
  width: 100%;
  margin-bottom: 0px;
}

.project-image {
  width: 369px;
  height: 369px;
  overflow: hidden;
  margin-bottom: 19px;
  box-shadow: 0px 0px 20px #e8e8e8;
}

.project-image-size {
  width: 369px;
  height: 369px;
  transition: transform 0.4s;
}

.project-title {
  font-size: 18px;
  line-height: 28px;
  transition: color 0.4s;
}

.project-category {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.4s;
}

/* ABOUT PAGE */

.about-image {
  height: auto;
  width: 100%;
  float: left;
  border-radius: 15%;
  max-height: 300px;
  max-width: 250px;
  box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.5);
  margin-right: 40px;
  margin-bottom: 30px;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .about-image {
    max-width: 150px;
    max-height: 160px;
    margin-left: 20%;
  }
  .about-title {
    font-family: circular-std-bold, Arial, sans-serif;
    padding-top: 15%;
  }
}

.about-content {
  margin-top: 50px;
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 15px;
  line-height: 21.5px;
}

.about-title {
  font-family: circular-std-bold, Arial, sans-serif;
  font-size: 20px;
}

.about-content a:link,
.about-content a:visited {
  font-family: circular-std-medium, Arial, sans-serif;
  text-decoration: none;
  color: #02cf5d;
}

.about-content a:hover {
  color: #000000;
  text-decoration: none;
  filter: brightness(0%);
}

.about-content img {
  padding-left: 4px;
  padding-top: 4px;
  filter: invert(47%) sepia(79%) saturate(300%) hue-rotate(95deg)
    brightness(119%) contrast(112%);
  width: 0.7em;
  height: 0.7em;
}

.about-resume {
  width: 100%;
  margin-top: 60px;
  display: flex;
}

.about-resume a {
  text-decoration: none;
  justify-content: center !important;
  align-items: center !important;
  width: 210px;
  height: 38px;
  color: #02cf5d;
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: white;
  border: 2px solid #02cf5d;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.4s;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.about-resume a:hover {
  color: white;
  background-color: #02cf5d;
  border: 2px solid #02cf5d;
}

.credit {
  font-size: 14px;
}

/* ARTICLES PAGE */

/* Articles List */

.articles {
  width: 100%;
  font-family: circular-std-medium, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.articles .left {
  width: 369px;
}

.articles .left .articles-intro {
  font-family: circular-std-book;
  margin-top: 0px;
  margin-bottom: 58px;
  font-size: 18px;
  line-height: 28px;
}

.articles .left .articles-intro .bold {
  font-family: circular-std-medium, Arial, sans-serif;
}

.articles .right {
  width: 369px;
}

/* Individual Article */

.article a {
  text-decoration: none;
  color: inherit;
}

.article a:visited {
  color: black;
}

.article-default,
.article-last {
  width: 100%;
  height: 369px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 20px rgba(217, 217, 217, 0.2);
}

.article-default {
  margin-bottom: 52px;
}

.article-last {
  margin-bottom: 0px;
}

.article-image {
  width: 367px;
  height: 223px;
  overflow: hidden;
}

.article-image-size {
  width: 367px;
  height: 223px;
  transition: transform 0.4s;
}

.article-contents {
  padding: 19px 25px 19px 25px;
}

.article-title {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}

.article-subtitle {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.article-date {
  color: #a0a0a0;
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 12px;
  line-height: 28px;
}

.one-line {
  margin-top: 32px;
}

.two-line {
  margin-top: 10px;
}
