/* Import AOS */

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/* Global Styles */

html {
  background: linear-gradient(rgb(69, 95, 104), rgb(37, 57, 64));
}

body {
  width: 100%;
  color: whitesmoke;
  font-family: Raleway, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.special-li {
  float: right;
}

ul {
  list-style-type: none !important;
}

hr {
  margin: 5%;
}

.link-reference {
  text-decoration: none;
  display: block;
  font-size: 1.17em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-block: 2em 1em;
  margin-inline: 0px;
  margin: 0px;
}

.element-animation {
  animation: animationFrames ease 2s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }

  80% {
    transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }

  80% {
    -webkit-transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}