body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default (light) theme */
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

body[data-theme="light"] .header, 
body[data-theme="light"] .overlay,
body[data-theme="light"] .nav,
body[data-theme="light"] .footer {
  background-color: #fff;
  color: #000000;
}

/* Dark theme */
body[data-theme="dark"] {
  background-color: #243447;
  color: #ffffff;
}

body[data-theme="dark"] .header,
body[data-theme="dark"] .overlay,
body[data-theme="dark"] .nav,
body[data-theme="dark"] .footer {
  background-color: #243447;
  color: #ffffff;
}

body[data-theme="dark"] a {
  color: #bbbbbb;
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h2,
body[data-theme="dark"] h3,
body[data-theme="dark"] p,
body[data-theme="dark"] {
  color: #dddddd;
}

body[data-theme="dark"] .project,
body[data-theme="dark"] .article {
  background-color: #1a2835;
  color: #ffffff;
}

body[data-theme="dark"] .article-default {
  background-color: #1a2835;
  color: #ffffff;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.35);
}

body[data-theme="dark"] .article-title,
body[data-theme="dark"] .article-subtitle {
  color: #ffffff;
}

body[data-theme="dark"] .article-date {
  color: #b3b3b3;
}

body[data-theme="dark"] .blog-reference {
  color: #80ffaa;
}

body[data-theme="dark"] .client {
  background-color: #1a2835;
  color: #ffffff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

body[data-theme="dark"] .client:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.15);
}

body[data-theme="dark"] .client-title {
  color: #80ffaa;
}

body[data-theme="dark"] .client-subtitle,
body[data-theme="dark"] .client-date,
body[data-theme="dark"] .client-skills,
body[data-theme="dark"] .client-description {
  color: #ffffff;
}

body[data-theme="dark"] .job-description {
  background-color: #1a2835;
  color: #ffffff;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.35);
}

body[data-theme="dark"] .job-title,
body[data-theme="dark"] .job-position,
body[data-theme="dark"] .job-date,
body[data-theme="dark"] .job-tools,
body[data-theme="dark"] .job-description-text {
  color: #ffffff;
}

body[data-theme="dark"] .job-skills li {
  background: #2a3f55;
  color: #ffffff;
}

body[data-theme="dark"] .button-back {
  color: #ffffff;
  background-color: #2a3f55;
}

body[data-theme="dark"] .project {
  background-color: #1a2835;
  color: #ffffff;
  box-shadow:
    0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 2px rgba(255, 255, 255, 0.24);
}

body[data-theme="dark"] .project:hover {
  box-shadow:
    0 10px 20px rgba(255, 255, 255, 0.19),
    0 6px 6px rgba(255, 255, 255, 0.23);
}

body[data-theme="dark"] .project-title {
  color: #ffffff;
}

body[data-theme="dark"] .project-name,
body[data-theme="dark"] .project-skills {
  color: #b3b3b3;
}

body[data-theme="dark"] .highlight_1 {
  background-color: #2a3f55;
}

body[data-theme="dark"] .highlight_2 {
  background-color: #2a3f55;
}

body[data-theme="dark"] .client {
  box-shadow: none;
}

body[data-theme="dark"] .client:hover {
  box-shadow: none;
  transform: scale(1);
}

body[data-theme="dark"] .article-default {
  box-shadow: none;
}

body[data-theme="dark"] .project {
  box-shadow: none;
}

body[data-theme="dark"] .project:hover {
  box-shadow: none;
}

body[data-theme="dark"] .about-links a {
  color: #80ffaa;
  background-color: #1a2835;
}

body[data-theme="dark"] .about-links a:hover {
  color: #ffffff;
}

body[data-theme="dark"] .theme-toggle-button {
  background-color: #bbb;
  color: #000;
}

body[data-theme="dark"] .theme-toggle-button:hover {
  background-color: #ddd;
}

body[data-theme="dark"] .job-description {
  box-shadow: none;
}
