@media screen and (max-width: 1009px) {
  .body, .navigation {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header .navigation .anne,
  .header .designer {
    font-size: 20px;
    width: 100%;
    line-height: 24px;
  }

  .header .speciality {
    font-size: 16px;
    line-height: 28px;
  }

  .navigation .navigation-sub {
    display: none;
  }

  .header-project {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
  }

  .header-project .anne {
    display: none;
  }

  .footer .footer-statement {
    font-size: 14px;
    line-height: 20px;
    margin: 0px auto 11px auto;
  }

  .footer .footer-copyright {
    font-size: 12px;
    line-height: 36px;
    margin: 10px auto 0px auto;
  }

  /* Optimize Main Page */

  .projects {
    width: 100%;
    display: block;
  }

  .projects .left .projects-intro {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .projects .left,
  .projects .right {
    width: 100%;
  }

  .projects .left {
    margin-bottom: 30px;
  }

  .projects .right {
    margin-bottom: 0px;
  }

  .project {
    width: 100%;
  }

  .hmw {
    width: calc(100% - 80px);
    height: calc(100vw - 95px);
  }

  .hmw-exception {
    width: calc(100%);
  }

  .hmw .hmw-background {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .project-image {
    width: 100%;
    height: calc(100vw - 95px);
    overflow: hidden;
    margin-bottom: 19px;
    box-shadow: 0px 0px 20px #e8e8e8;
  }

  .project-image-size {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
  }

  .project-title {
    font-size: 14px;
    line-height: 20px;
  }

  .project-category {
    font-size: 14px;
    line-height: 20px;
  }

  .project-default,
  .project-last {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Optimize Articles Page */

  .articles {
    width: 100%;
    display: block;
    font-weight: 600;
  }

  .articles .left .articles-intro {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
  }

  .articles .left,
  .articles .right {
    width: 100%;
  }

  .articles .left {
    margin-bottom: 30px;
  }

  .articles .right {
    margin-bottom: 0px;
  }
  .article-contents {
    padding: 20px 18px 20px 18px;
  }

  .article-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 2px;
  }

  .article-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .article-date{
    font-size: 17px;
  }
  

  /* Optimize About Page */

  .about-image {
    width: 100%;
    height: calc((100vw - 80px) * 0.65);
    box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.5);
  }

  .about-content {
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .about-title {
    font-size: 20px;
  }

  .about-links button {
    width: 180px;
    font-size: 14px;
  }
}
